.card-group{
    display: flex;
    flex-wrap: wrap;
    
}
.card-img-top{
    background-color: #e8d9c5;
    height: 200px;
    width: 100%;
    border-radius: 25px;
}
.card-title{
    text-align: center;
}