.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  ul {
    display: flex;
    list-style-type: none;
    color: #2d3f63;
    text-decoration: none;
  }
  a {
    margin-left: 10px;
    margin-right: 10px;
    color: #2d3f63;
    font-weight: 700;
  }
}
.logo {
  margin-left: 6%;
  width: 200px;
  height: 100px;
}
.reserver{
    background-color: #c2c2c2;
}
